@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
p{
    font-weight: 700;
}
body{
    display: flex;
    flex-direction: row;
}
div.picture{
    background-position: center center;
    background-image: url("assets/rikonavt-oEWdQsbRVZk-unsplash.jpg");
    background-size: cover;
    width: 50vw;
    /*height: 100vw;*/
    margin: 0;
    padding: 0;
    color: black;
    text-align: center;
}

div.banner{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    top: 5vh;
    gap: 1vh;
    margin: 0;
    padding: 10px;
}
.picture h3{
    font-size: 35px;
    font-family: Aboreto,cursive,sans-serif;
}
div.text{
    padding: 20px;
    background-color: #f7dcea;
    font-family: sans-serif;
}

.italic{
    font-style: italic;
}

div.name, div.contact, div.password{
    display: flex;
    gap: 40px;
}
div.first, div.last, div.phone, div.email,
div.p1, div.cpassword{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
input{
    border-color: #c26e9c;
    border-radius: 4px;
    height: 20px;
}
input:hover{
    border-color: green;
}

button{
    background-color: #e081a6;
    width: 200px;
    height: 40px;
    font-size: larger;
    border-radius: 6px;
}
section.send{
    display: flex;
    flex-direction: column;
}
a{
    text-decoration: none;
    color: #88064d;
}